<footer class="page-footer footer-background">
        <div class="footer-copyright footer-background">
            <div class="container has-text-centered">
                <div class="level ">
                    <div class="level-item footer-style ">
                        <strong class="slothBranding is-size-5">© 2018 Slothcrew Design</strong>

                    </div>


                </div>
                <div id="themeButton" class="theme-change-button-regular btn btn-medium " onclick="changeStyle()">Change Style</div>
            </div>
        </div>
    </footer>
    <script src="assets/js/svg.js"></script>