<nav class="navbar is-fixed-top background-color-regular navbar-slant" id="slothcrewNavBar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="https://www.slothcrew.com">
                    <b class="icon-sloth slothLogo"></b>
                </a>
                <a href="https://www.slothcrew.com">
                    <div class="level sloganContainer">
                        <span class="slothcrew-brand is-size-1 has-text-weight-bold slothcrewSlogan slothBranding">Slothcrew</span>
                    </div>
                </a>
                <a class="navbar-burger slothBranding navbar-burger--spacing navbar-burger--styling" data-target="navMenu" aria-label="menu"
                    aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>


            </div>
            </div>
            <div class="navbar-menu is-danger" aria-label="menu" aria-expanded="false" id="navMenu">

                <div class="navbar-end">

                    <a class="navbar-item navbar-item-regular-style" href="#home" onclick="toggleMenu()">Home</a>
                    <a class="navbar-item navbar-item-regular-style" href="#portfolio" onclick="toggleMenu()">Portfolio</a>
                    <a class="navbar-item  navbar-item-regular-style" href="#about" onclick="toggleMenu()">About</a>
                    <a class="navbar-item navbar-item-regular-style" href="#contact" onclick="toggleMenu()">Contact Me</a>
                </div>

            </div>
        </nav>