body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #5F4B8B;
    padding-top: 50px;
    font-family: "Special Elite", cursive;
  }

  main {
    flex: 1 0 auto;
  }
      
.background-color-regular {
    
    background-color: #5F4B8B;
}
.background-color-hotpink {
  background-color: #ec407a;
}
.navbar-slant {
  transform: rotate(-1deg);
  z-index: 5;
  height: 130px;
  margin-left: -2px;
  margin-top: -30px;
  padding-top: 30px;
  min-width: calc(100vw + 2px);
}

.navbar {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.navbar-brand {
  height: 100px;
}
.slothLogo #SlothCrew {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-top: 10px;
  fill: yellow;
}

.slothcrewSlogan {
  padding-left: 20px;
  font-family: "Bangers", cursive;
}
.navbar-end {
  padding-right: 20px;
}
.sloganContainer {
  padding-top: 15px;
}
.navbar-item-regular-style {
  background-color: yellow;
  color: #5F4B8B;
  
  margin: 2px;
  font-size: 1.5rem;
  font-family: "Bangers", cursive;
}
.navbar-item-hotpink-style {
    background-color: yellow;
    color: #ec407a;
    margin: 2px;
    font-size: 1.5rem;
    font-family: "Bangers", cursive;
  }

.main-content-container {

  min-height: calc(100vh - 250px) ;
  padding: 10px 10px 0 10px;
  padding-top: 50px;
}

.footer-style {
  padding: 10px;
  font-family: "Bangers", cursive;
}

.slothBranding {
  color: yellow !important;
}

.footer-background {
  background-color: #5F4B8B!important;
}
.footer-background--hotpink {
  
  background-color: #ec407a !important;
}


.navbar-burger--spacing {
  margin-right: 20px !important;
}
.navbar-burger--styling:hover {
  color: white !important;
}

.theme-change-button-regular {
  color: yellow;
  font-weight: bold;
  margin-bottom: 25px;
  background-color: #ec407a;
}
.theme-change-button-regular:hover {
  background-color: hotpink;  
}

.theme-change-button-toggled {
  background-color: #5F4B8B;
}

.theme-change-button-toggled:hover {
  background-color: darkorchid;
}

.slothcrew-button-regular {
  background-color: #5F4B8B;
  font-weight: bold;
  color: yellow !important;
}

.slothcrew-button-regular:hover {
  background-color: darkorchid;
  color: yellow;
}

.slothcrew-button-hotpink {
  background-color: #ec407a;
}

.slothcrew-button-hotpink:hover {
  background-color: hotpink;  
}


#home { 
  padding-top: 120px; 
  margin-top: -120px;
}
#portfolio { 
  padding-top: 120px; 
  margin-top: -120px;
}
#about { 
  padding-top: 120px; 
  margin-top: -120px;
}
#contact { 
  padding-top: 120px; 
  margin-top: -120px;
}
.contact-button-center {
  margin-top: 3px;
}


/* label focus color */
.input-field input[type=text]:focus + label {
  color: #5F4B8B;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #5F4B8B;
  box-shadow: 0 1px 0 0 #5F4B8B;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #5F4B8B;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #5F4B8B;
}

.contact-submit {
  margin-top: 20px;
}
     
.hero {
  background-color: #5F4B8B !important;
}
.hero--hotpink {
  background-color: #ec407a !important;
}

.headerPic {
  background: url("https://res.cloudinary.com/slothcrew/image/upload/c_scale,q_39,w_1047/v1524489267/Slothcrew/img007.png");
  background-blend-mode: hard-light;
  background-size: cover;
  margin-bottom: 40px;

}

.card {
  margin: 100px 10px 10px 10px;
}


.hidden {
  visibility: hidden;
}


@media (min-width: 750px) {
  .portfolioContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 50% 50%;
    grid-column-gap: 10px;
  }
  }